* {
  margin: 0;
  padding: 0;
}

.player {
  width: 18vmin;
  height: 18vmin;
  background-color: #3c0753;
  color: #910a67;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 2vmin rgba(0, 0, 0, 0.3);
  font-size: 10vmin;
  color: white;
}

body {
  background-color: #910a67;
  text-align: center;
}

#game {
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}

.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: white;
  font-family: Arial, sans-serif;
}

#reset-game {
  background-color: #3c0753;
  color: white;
  padding: 3vmin;
}
